
@{
    ViewBag.Title = "OrderSuccess";
}
<div class="text-center">
    <h1>Thanh toán thành công!</h1>
    <h2>Vui lòng đợi 2 đến 3 ngày để nhận hàng</h2>
    <a class="btn" href="@Url.Action("Index","Shop")">Tiếp tục mua sắm</a>

</div>